* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --lilac: #8E65DB;
    --egg: #E6E2DE;
    --blue: #3A8EA7;
    --dark-green: #334A52;
}

body {
    background-color: var(--egg);
    color: var(--dark-green);
}

a {
    text-decoration: none;
    color: white;
}

header {
    background-color: var(--blue);
    display: flex;
}

header nav {
    width: 40%;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom: .2vw solid white;
    border-top: .2vw solid white;
    margin: 3vw 5vw;
}

header nav ul li {
    list-style: none;
    color: white;
    font-size: 5vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 90%;
    text-align: center;
    padding-top: 2vw;
}

header nav ul li:first-child {
    border-bottom: .2vw solid white;
}

header div {
    display: flex;
    width: 20%;
    align-self: center;
}

header div img {
    width: 100%;
}

.hero {
    background-image: url(../images/Hero-p.jpg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-size: contain;
}

.hero div {
    width: 50%;
}

.hero-txt {
    padding: 5vw;
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.hero div img {
    width: 100%;
}

.hero h1 {
    text-align: center;
    font-size: 8vw;
}

