* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --lilac: #8E65DB;
    --egg: #E6E2DE;
    --blue: #3A8EA7;
    --dark-green: #334A52;
}

body {
    background-color: var(--egg);
    color: var(--dark-green);
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

header {
    background-color: var(--blue);
    display: flex;
    justify-content: center;
}

header nav {
    flex: 1 50%;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom: .2vw solid white;
    border-top: .2vw solid white;
    margin: 2vw 0;
}

header nav ul li {
    font-size: 6vw;
    padding-top: 1vw;
    list-style: none;
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    flex: 0 90%;
    text-align: center;
}

.nav-left {
    margin: 2vw 0 2vw 5vw;
    justify-content: flex-end;
}

.nav-right {
    margin: 2vw 5vw 2vw 0;
    justify-content: flex-start;
}

header nav ul li:first-child {
    border-bottom: .2vw solid white;
}

header nav ul li a {
    padding: 0 1vw;
}

header nav ul li a:hover {
    color: var(--blue);
    background-color: white;
    border-radius: 50px;
    text-shadow: none;
}

header div {
    flex: 0 60%;
    display: flex;
    align-self: center;
}

header div img {
    width: 100%;
}

.hero {
    background-image: url("../images/Hero-p.jpg");
    display: flex;
    align-items: center;
    background-size: cover;
    flex-wrap: wrap;
    justify-content: center;
}

.hero-txt {
    flex: 1 90%;
    padding: 2.5vw;
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 1);
    text-align: center;
}

.hero-img {
    flex: 0 100%;
}

.hero-img img {
    width: 100%;
}

.hero h1 {
    font-size: 12vw;
    margin-bottom: 7vw;
}

.hero p {
    font-size: 10vw;
}

.section-title {
    flex: 0 22%;
    font-size: 5vw;
    color: var(--blue);
    display: flex;
    justify-content: center;
    padding: 20px 0 0;
    max-width: 50%;
    margin: 0 auto 10px;
    border-bottom: .5vw solid var(--blue);
    text-shadow: 0 0 1px rgba(0, 0, 0, 1);
}

.section-content {
    display: flex;
    justify-content: center;
    max-width: 90%;
    margin: 0 auto 10px;
    text-align: center;
    flex-wrap: wrap;
    flex: 1;
}

.section-content p, address {
    line-height: 1.5;
    font-size: 3.5vw;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(85%, 1fr));
    grid-template-rows: repeat(5, 50vw);
    grid-gap: 10px;
    width: 100%;
}

.project1 {
    background-image: url("../images/runbuddy.jpg");
}

.project2 {
    background-image: url("../images/LED.jpg");
}

.project3 {
    background-image: url("../images/Calculator.jpg");
}

.project4 {
    background-image: url("../images/puzzle.jpg");
}

.project5 {
    background-image: url("../images/surf.jpg");
}

.grid-item {
    display: flex;
    background-size: cover;
    grid-row: span 1;
    grid-column: span 1;
    position: relative;
}

.grid-item::before {
    display: flex;
    content: "";
    height: 100%;
    width: 100%;
    background: rgba(120, 120, 236, 0.3);
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    transition: .5s;
}

.grid-item:hover::before {
    background: rgba(166, 236, 120, 0.3);
}

.item-content {
    text-align: left;
    padding: 20px 20px 20px 5px;
    background-color: var(--blue);
    position: absolute;
    bottom: 10%;
    left: 0;
    z-index: 1;
}

.item-content h3 {
    font-size: 4vw;
    text-shadow: 0 0 1px rgb(33, 85, 23);
}

.item-content h4 {
    font-size: 3vw;
    text-shadow: 0 0 1px rgb(33, 85, 23);
}

address ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

address li {
    margin: 1vw;
    font-style: normal;
    font-size: 5vw;
    padding: .3vw;
    justify-content: center;
    flex: 0 auto;
    border-bottom: .3vw solid var(--blue);
}

address li a, address li span {
    padding: .4vw;
}

address a:hover, address span:hover {
    background-color: var(--blue);
    color: var(--egg);
    border-radius: 50px;
}

@media screen and (min-width: 768px) {

    header nav ul li {
        font-size: 4vw;
    }

    header div {
        flex: 0 15%;
    }

    section {
        display: flex;
        margin-top: 50px;
        justify-content: flex-start;
    }

    .hero {
        margin: 0;
    }

    .hero-txt {
        flex: 0 60%;
    }

    .hero h1 {
        font-size: 7vw;
    }

    .hero p {
        font-size: 5vw;
    }

    .hero-img {
        flex: 0 40%;
    }

    .section-title {
        border: none;
        border-right: .5vw solid var(--blue);
        padding: 20px;
        text-align: right;
        font-size: 3vw;
        justify-content: flex-end;
        margin-left: 3vw;
    }

    .section-content {
        padding: 10px;
        text-align: left;
        justify-content: flex-start;
        flex: 1;
        margin: 0 5vw 0 2vw;
    }

    .section-content p {
        font-size: 1.7vw;
        line-height: 1.2;
    }

    .grid-container {
        grid-template-rows: repeat(3, 15vw);
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
    }

    .large-item {
        grid-row: 1 / span 2;
        grid-column: 1 / span 2;
    }

    .item-content {
        padding: .5vw;

    }

    .item-content h3 {
        font-size: 2.5vw;
    }

    .item-content h4 {
        font-size: 1vw;
    }

    address.section-content {
        align-self: center;
        justify-content: center;
    }

    address ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    address li {
        font-size: 2.2vw;
    }
}