* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --lilac: #8E65DB;
    --egg: #E6E2DE;
    --blue: #3A8EA7;
    --dark-green: #334A52;
}

body {
    background-color: var(--egg);
    color: var(--dark-green);
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

header {
    background-color: var(--blue);
    display: flex;
}

header nav {
    width: 40%;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom: .2vw solid white;
    border-top: .2vw solid white;
    margin: 3vw 5vw;
}

header nav ul li {
    list-style: none;
    color: white;
    font-size: 5vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 90%;
    text-align: center;
    padding-top: 2vw;
}

header nav ul li a, header nav ul li span {
    padding: 0 1vw;
}

header nav ul li a:hover, header nav ul li span:hover {
    color: var(--blue);
    background-color: white;
    border-radius: 50px;
    text-shadow: none;
}

header nav ul li:first-child {
    border-bottom: .2vw solid white;
}

header div {
    display: flex;
    width: 20%;
    align-self: center;
}

header div img {
    width: 100%;
}

.hero {
    background-image: url(../images/Hero-p.jpg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-size: contain;
}

.hero div {
    width: 50%;
}

.hero-txt {
    padding: 5vw;
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.hero div img {
    width: 100%;
}

.hero h1 {
    text-align: center;
    font-size: 8vw;
}

.section-title {
    font-size: 5vw;
    color: var(--blue);
    display: flex;
    justify-content: center;
    padding: 20px 0 0;
    max-width: 40%;
    margin: 0 auto 10px;
    border-bottom: .5vw solid var(--blue);
    text-shadow: 0 0 1px rgba(0, 0, 0, 1);
}

.section-content {
    display: flex;
    justify-content: center;
    max-width: 85%;
    margin: 0 auto 10px;
    text-align: center;
    flex-wrap: wrap;
}

.section-content p, address {
    line-height: 1.5;
    font-size: 2.5vw;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(85%, 1fr));
    grid-template-rows: repeat(5, 50vw);
    grid-gap: 10px;
    width: 85%
}

.project1 {
    background-image: url("../images/runbuddy.jpg");
}

.project2 {
    background-image: url("../images/LED.jpg");
}

.project3 {
    background-image: url("../images/Calculator.jpg");
}

.project4 {
    background-image: url("../images/puzzle.jpg");
}

.project5 {
    background-image: url("../images/surf.jpg");
}

.grid-item {
    display: flex;
    background-size: cover;
    grid-row: span 1;
    grid-column: span 1;
    position: relative;
}

.grid-item::before {
    display: flex;
    content: "";
    height: 100%;
    width: 100%;
    background: rgba(120, 120, 236, 0.3);
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    transition: .5s;
}

.grid-item:hover::before {
    background: rgba(166, 236, 120, 0.3);
}

.item-content {
    text-align: left;
    padding: 20px 20px 20px 5px;
    background-color: var(--blue);
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
}

.item-content h3 {
    font-size: 4vw;
}

.item-content h4 {
    font-size: 3vw;
}

address a, address span {
    padding: 1vw;
}

address a:hover, address span:hover {
    background-color: var(--blue);
    color: var(--egg);
    border-radius: 50px;
}